*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
*.hprof
.cxx/
*.keystore
!debug.keystore
